@import "base.css";
@import "ff.css";
@import "swiper.min.css";
@import "animate.min.css";
@import url("//at.alicdn.com/t/font_1489137_j4iarqk7vv.css");

@themeColor1: #38b3d5;
@themeColor2: #f66a95;
@boxShadow: 0 .04rem 0 0;
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.main {
  width: 7.1rem;
  margin: 0 auto;
  padding: .8rem 0;
  position: relative;
  z-index: 1;
}

body {
  padding-top: 1rem;
  padding-bottom: 1.18rem;
}

header {
  height: 1rem;
  position: fixed;
  background-color: @themeColor1;
  width: 100%;
  top: 0;
  z-index: 10;

  .main {
    padding: .12rem 0;
  }

  .logo {
    float: left;

    a {
      display: block;
      width: .91rem;
      height: .75rem;
      background: url(../img/logo.png) center center/cover no-repeat;
    }

    h1 {
      font-size: 0;
      visibility: hidden;
      tab-index: -9999px;
    }
  }

  .tel {
    float: left;
    margin-left: 1.37rem;
    margin-top: .14rem;
    width: 2.56rem;
    height: .48rem;
    background: url(../img/header_tel.png) center center /cover no-repeat;

    p, span, a {
      color: #fff;
    }

    p {
      float: left;

      a {
        font-size: .36rem;
      }

      span {
        display: block;
        font-size: .14rem;
      }
    }

    i {
      display: block;
      float: left;
      font-size: .56rem;
      margin-right: .1rem;
      color: #fff;
    }


  }

  .menu-btn {
    width: .56rem;
    height: .56rem;
    background-color: #fff;
    border-radius: .5rem;
    float: right;
    margin-top: .1rem;
    //padding: .21rem .17rem;


    .wrap {
      height: 100%;
      position: relative;
      text-align: center;

      i {
        font-size: .4rem;
        color: @themeColor1;
        line-height: .6rem;
      }

      //span {
      //  display: block;
      //  width: .33rem;
      //  height: 2px;
      //  border-radius: .3rem;
      //  background-color: @themeColor2;
      //  position: absolute;
      //  top: 50%;
      //  left: 50%;
      //  transform: translate(-50%, -50%);
      //
      //  &:before, &:after {
      //    content: '';
      //    display: block;
      //    width: .33rem;
      //    height: 2px;
      //    border-radius: .3rem;
      //    background-color: @themeColor2;
      //    position: absolute;
      //    left: 50%;
      //    transform: translateZ(0) translateX(-50%);
      //
      //  }
      //
      //  &:before {
      //    top: .1rem;
      //  }
      //
      //  &:after {
      //    bottom: .1rem;
      //  }
      //}


    }
  }

}

#header-nav {
  width: 100%;
  height: calc(~"100% - 1rem");
  position: fixed;
  right: 0;
  top: 1rem;
  z-index: 9;
  //background-color: #fff;
  background-color: rgba(0, 0, 0, .6);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
  visibility: hidden;
  opacity: 0;
  transition-duration: .5s;
  z-index: 9;

  .wrap {
    width: 60%;
    height: 100%;
    float: right;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform .3s;
    padding: 0 .2rem;

  }

  &.show {
    visibility: visible;
    opacity: 1;

    .wrap {
      transform: translateX(0);
    }
  }


  li {
    width: 100%;
    padding: 0 .34rem;
    border-bottom: 1px solid #ddd;
  }

  a {
    display: block;
    font-size: .3rem;
    line-height: .8rem;
  }
}

.footer-info {
  .main {
    padding-bottom: .5rem;
  }

  .mation {
    width: 4.9rem;
    font-size: .18rem;
    line-height: .3rem;
    color: #333;

    .address, .copyright {
      p, a {
        color: #8f8f8f;
      }
    }
  }

  .weixin {
    img {
      display: block;
      width: 1.15rem;
      height: 1.15rem;
      margin: 0 auto .15rem auto;
    }

    p {
      font-size: .16rem;
      color: #999;
    }
  }
}

footer {
  position: fixed;
  width: 100%;
  //bottom: .2rem;
  z-index: 8;
  bottom: 0;
  //padding: 0 .2rem;

  .wrap {
    background-color: @themeColor2;
    padding: .15rem 0;
    //border-radius: .1rem .1rem 0 0;
  }

  li {
    width: 25%;
    float: left;
    text-align: center;
    border-right: 1px solid #df4e7a;;

    &:last-child {
      border-right: 0;
    }

    a {
      display: block;
      color: #fff;
    }

    .iconfont {
      font-size: .5rem;
      display: block;
      margin-bottom: .1rem;
    }

    span {
      display: block;
      font-size: .28rem;
      //margin-top: .2rem;
    }
  }
}


.banner {
  img {
    display: block;
  }

  .swiper-pagination {
    bottom: .2rem;

    .swiper-pagination-bullet {
      width: .5rem;
      height: .04rem;
      border-radius: 0;
      transition-duration: .2s;
      margin: 0 .05rem;
    }
  }


}

.sub-nav {
  background-color: #f8f8f8;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 1rem;
  z-index: 7;

  li {
    float: left;
    width: 25%;
    border-right: 1px solid #e5e5e5;

    a {
      display: block;
      line-height: .74rem;
      text-align: center;
      font-size: .28rem;
      color: @themeColor2;
    }
  }
}

.plate-title {
  text-align: center;
  margin-bottom: .5rem;

  .en {
    margin-bottom: .3rem;

    span {
      font-size: .48rem;
      font-weight: bold;
      color: @themeColor1;

    }
  }

  .zh {
    font-size: 0;
    overflow: hidden;

    span {
      display: inline-block;
      font-size: .44rem;
      color: #222;
      position: relative;
      //padding: 0 1.7rem;
      white-space: nowrap;

      &:before, &:after {
        content: '';
        display: block;
        width: 1.4rem;
        height: 1px;
        background-color: #222;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &:before {
        left: -1.5rem;
      }

      &:after {
        right: -1.5rem;
      }
    }
  }

  .txt {
    margin-top: .25rem;

    span {
      font-size: .2rem;
      color: #999;
    }
  }

  &.white {
    .en, .zh {
      span {
        color: #fff;
      }
    }

    .zh {
      span {
        &:before, &:after {
          background-color: #fff;
        }
      }
    }

    .txt {
      span {
        color: #fff;
      }
    }
  }
}

.context {
  p {
    font-size: .26rem;
    line-height: .48rem;
    color: #555;
  }
}

.about {
  overflow: hidden;

  .main {
    padding-top: 1.5rem;
  }

  .title {

    span {
      display: block;
      width: 2.26rem;
      height: 1.13rem;
      background-color: @themeColor2;
      border-radius: 0 0 2rem 2rem;
      color: #fff;
      font-size: .4rem;
      text-align: center;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      line-height: 1rem;
      //padding-top: 1.3rem;
    }
  }

  .context {
    p {
      text-indent: 2em;
    }
  }

  .film {
    width: 6.6rem;
    height: 3.73rem;
    margin: .4rem auto .2rem;
    border-radius: .2rem;
    overflow: hidden;

    .film-wrap {
      width: 100%;
      height: 100%;
    }

    video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      outline: none;
    }
  }

  .more {
    padding-top: .4rem;
    //padding-bottom: 3.15rem;

    a {
      display: block;
      width: 2rem;
      height: .65rem;
      background-color: #eee;
      border-radius: .06rem;
      text-align: center;
      line-height: .65rem;
      font-size: .24rem;
      color: #999;
      margin: 0 auto;
    }
  }
}

.adv-1 {
  .wrap {
    width: 100%;
    background-color: @themeColor2;
    box-shadow: 0 0 .1rem 0 rgba(0, 0, 0, 0.18);
    padding: .55rem;
    position: absolute;
    top: -2.38rem;
  }

  table {
    width: 100%;
    border: 1px solid @themeColor2;

    th {
      border: 1px solid #ff97b7;
    }

    img {
      width: 1.28rem;
      height: 1.28rem;
      border-radius: 50%;
      margin-right: .2rem;
    }
  }

  li {
    float: left;
    display: flex;
    align-items: center;
    color: #fff;
    padding: .45rem 0;

    &:nth-child(2n) {
      float: right;
    }

    img {
      width: 1.28rem;
      height: 1.28rem;
      border-radius: 50%;
      margin-right: .2rem;
    }
  }
}

.course {
  background: url(../img/course_bg.jpg) center center/cover no-repeat;


  .course-top {
    margin-bottom: .45rem;
    margin-top: .5rem;


    .swiper-slide {
      height: 6rem;
      border-radius: .2rem;
      overflow: hidden;

      img {
        display: block;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .course-tabs {
    margin-bottom: .8rem;
    padding: 0 .1rem;

    ul {
      font-size: 0;
      text-align-last: justify;
    }

    li {
      //width: 20%;
      //float: left;
      display: inline-block;
      text-align: center;


      &.active {

        a {
          color: @themeColor2;
          transform: scale(1.2);
        }

      }

      a {
        display: block;
        padding: 0 .1rem;
        background-color: #89e5ff;
        font-size: .18rem;
        line-height: .36rem;
        color: #fff;
        border-radius: .04rem;
        transition-duration: .1s;


      }
    }
  }

  .btn {
    text-align: center;

    a {
      display: inline-block;
      background-color: #fff;
      font-size: .26rem;
      line-height: .7rem;
      padding: 0 .4rem;
      color: @themeColor1;
      border-radius: .5rem;

      i {
        font-size: .26rem;
      }
    }
  }
}

.consult {
  .list {
    li {
      width: 3.4rem;
      height: 3.1rem;
      text-align: center;
      position: relative;
      float: left;
      margin-right: .3rem;
      margin-bottom: .6rem;
      border: solid 1px rgba(238, 238, 238, .2);
      background-color: rgba(229, 229, 229, .2);
      border-radius: .2rem;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-child(2n) ~ li {
        margin-bottom: 0;
      }

      img {
        width: 1.24rem;
        height: 1.24rem;
        display: block;
        margin: .3rem auto;
      }

      p {
        font-size: .36rem;
        margin-bottom: .15rem;
      }

      span {
        display: block;
        font-size: .12rem;
      }

      a {
        display: block;
        width: 1.6rem;
        height: .42rem;
        font-size: .24rem;
        color: #fff;
        line-height: .42rem;
        text-align: center;
        border-radius: .5rem;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: -.21rem;
      }


      &:nth-child(1) {
        box-shadow: @boxShadow rgba(232, 142, 62, .2);
        color: #e88e3e;;

        a {
          background-color: #e88e3e;
        }
      }

      &:nth-child(2) {
        box-shadow: @boxShadow rgba(229, 71, 82, .2);
        color: #e54752;

        a {
          background-color: #e54752;
        }
      }

      &:nth-child(3) {
        box-shadow: @boxShadow rgba(35, 181, 194, .2);
        color: #23b5c2;

        a {
          background-color: #23b5c2;
        }
      }

      &:nth-child(4) {
        box-shadow: @boxShadow rgba(154, 182, 44, .2);
        color: #9ab62c;

        a {
          background-color: #9ab62c;
        }
      }
    }
  }
}

.major {
  background-color: @themeColor1;
  position: relative;
  z-index: 1;

  .main {
    overflow: hidden;
  }

  .wrap {
    background-color: #eee;
    height: calc(~"- 1.3rem");
    border-radius: .2rem;
    //overflow: hidden;
    margin-top: 1.5rem;
    padding: .3rem;
  }

  .swiper-container {
    //top: -1.3rem;
    //padding-top: 1.3rem;
    overflow: visible;
  }

  .swiper-slide {
    padding-top: 5.5rem;

    .pic {
      width: 6rem;
      height: 5.5rem;
      margin: 0 auto;
      //left: 50%;
      left: .25rem;
      //overflow: hidden;
      position: absolute;
      top: -1rem;
      transform: translateX(-50%);

      img {
        display: block;
        height: 6.5rem;
        border-radius: .2rem;
        width: 100%;
        object-position: center;
        object-fit: cover;

      }
    }

    .name {
      font-size: .48rem;
      color: #222;
      margin-top: .3rem;
    }

    .work {
      font-size: .3rem;
      color: #666;
      margin-top: .35rem;
    }

    .name, .work {
      text-align: center;
    }

    .desc {
      margin-top: .4rem;
      font-size: .24rem;
      color: #666;
      line-height: .4rem;
    }

    .btn {
      width: 3.12rem;
      height: .7rem;
      background-color: #f66a95;
      box-shadow: @boxShadow rgba(5, 97, 123, 0.73);
      border-radius: .4rem;
      position: absolute;
      right: 0;
      bottom: -.65rem;

      a {
        display: block;
        line-height: .7rem;
        text-align: center;


        i, span {
          color: #fff;
          font-size: .3rem;

        }
      }
    }
  }

  .sub-wrap {
    position: relative;
    //width: 2.24rem;
    padding: .1rem 2.43rem 0;
    height: 1.88rem;
    margin: 0 auto;
  }


  .swiper-button-prev,
  .swiper-button-next {
    width: 1.12rem;
    height: .88rem;
    outline: none;
    margin: 0;
    opacity: 1;
    top: auto;
    bottom: 0;
  }

  .swiper-button-prev {
    left: 2.43rem;
    background: url(../img/swiper-button-prev.jpg) center center/cover no-repeat;
  }

  .swiper-button-next {
    right: 2.43rem;
    background: url(../img/swiper-button-next.jpg) center center/cover no-repeat;
  }

  .swiper-pagination {
    width: auto;
    left: 0;

    .swiper-pagination-bullet {
      width: .15rem;
      height: .15rem;
      background-color: #fff;
      border-radius: .1rem;
      margin: 0 .05rem;
      opacity: 1;
      transition-duration: .2s;

      &.swiper-pagination-bullet-active {
        width: .4rem;
        background-color: @themeColor2;
      }
    }
  }
}


.choice {
  .list {
    margin-top: .5rem;

    li {
      background-color: @themeColor1;
      border-radius: .2rem;
      float: left;
      margin-right: .2rem;
      margin-bottom: .2rem;
      color: #fff;
      padding-top: .3rem;

      p {
        font-size: .26rem;
        text-align: center;


        &:after {
          content: '';
          display: block;
          width: .8rem;
          height: 1px;
          background-color: #fff;
          margin: .2rem auto .15rem;
        }
      }

      span {
        display: block;
        padding: 0 .1rem;
        font-size: .2rem;
        line-height: .3rem;
      }
    }

    .list-1 {
      li {
        width: 2.23rem;
        height: 2.25rem;

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }

    .list-2 {
      li {
        width: 3.45rem;
        height: 1.85rem;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }
}

.honour {
  .main {
    padding-top: 0;
  }

  .list {
    margin: .5rem 0;
    overflow: hidden;

    ul {
      transform: translate3d(0, 0, 0);
    }

    li {
      width: 3.45rem;
      height: 2.45rem;
      margin-right: .2rem;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .btn {
    font-size: 0;
    text-align: center;

    a {
      display: inline-block;
      height: .7rem;
      line-height: .68rem;
      background-color: #fff;
      border-radius: .4rem;
      border: solid 1px @themeColor1;
      font-size: .26rem;
      color: @themeColor1;
      padding: 0 .3rem;

      i {
        font-size: .26rem;
        color: @themeColor1;
      }
    }
  }
}

.students {
  .plate-title {
    .en {
      span {
        font-size: .4rem;
      }
    }
  }

  .main {
    background: url(../img/students_bg.jpg) top center/100% auto no-repeat;
  }

  .wrap {
    margin-top: .5rem;
  }

  .swiper-container {
    width: 6.7rem;

    .swiper-slide {
      border-radius: .2rem;
      overflow: hidden;
      height: 2.9rem;

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-position: center;
        object-fit: cover;
      }
    }
  }

  .list {
    margin-top: .5rem;

    .topbar {
      height: .8rem;
      border-radius: .2rem .2rem 0 0;
      padding: 0 .25rem;
      line-height: .8rem;

      .zh {
        font-size: .36rem;
        color: #fff;
        margin-right: .1rem;
      }

      .en {
        font-size: .2rem;
      }

      a {
        font-size: .24rem;
        color: #fff;
        float: right;
        line-height: .8rem;
      }
    }


    .list-1 {
      margin-bottom: .5rem;

      .topbar {
        background-color: @themeColor1;

        .en {
          color: #178dae;
        }
      }

      ul {
        padding: .2rem;
        border: solid 1px #e5e5e5;
        border-top: 0;
        border-radius: 0 0 .2rem .2rem;
      }

      li {
        border-bottom: dashed 1px #ebebeb;

        &:after {
          content: '';
          display: block;
          height: 0;
          line-height: 0;
          visibility: hidden;
          clear: both;
        }

        &.pic {
          border: 0;


          a {
            width: 100%;
            padding: 0;
          }

          img {
            display: block;
            width: 100%;
          }
        }

        a {
          display: block;
          font-size: .24rem;
          line-height: .7rem;
          width: 90%;
          float: left;
          padding: 0 .1rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        span {
          width: 10%;
          display: block;
          float: right;
          line-height: .7rem;
          text-align: center;
          font-size: .24rem;
          color: #999;
        }
      }
    }

    .list-2 {

      .tempWrap {
        padding: .2rem;
        border: solid 1px #e5e5e5;
        border-top: 0;
        border-radius: 0 0 .2rem .2rem;
      }

      .topbar {
        background-color: @themeColor2;

        .en {
          color: #c93b67;
        }
      }

      li {
        margin-bottom: .4rem;

        &:after {
          content: '';
          display: block;
          height: 0;
          line-height: 0;
          visibility: hidden;
          clear: both;
        }

        img {
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
          float: left;
        }

        p {
          float: right;
          width: 5.16rem;
          font-size: .24rem;
          color: #333;
          line-height: .36rem;
        }
      }
    }
  }
}

.cooperation {
  .main {
    padding-top: 0;
    overflow: hidden;
  }

  .swiper-container {
    padding: .5rem .1rem;
    overflow: visible;
  }

  .swiper-slide {
    box-shadow: 0 0 .18rem 0 rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    overflow: hidden;
  }

  .swiper-pagination {
    bottom: 0;

    .swiper-pagination-bullet {
      width: .15rem;
      height: .15rem;
      background-color: #d2d2d2;
      opacity: 1;
      margin: 0 .05rem;
      transition-duration: .2s;
      border-radius: .2rem;

      &.swiper-pagination-bullet-active {
        width: .5rem;
        background-color: @themeColor1;
      }
    }
  }
}

.enroll {
  background: url(../img/enroll_bg.jpg) center center/cover no-repeat;


  .map-container {
    width: 100%;
    height: 3.4rem;
    border-radius: .1rem;
    overflow: hidden;
    background-color: #000;
    margin-top: .5rem;
  }

  .index-form {
    margin-top: .5rem;

    input {
      display: block;
      float: left;
      width: 3.45rem;
      height: .7rem;
      background-color: #fff;
      border-radius: .1rem;
      padding: 0 .2rem;
      margin-right: .2rem;
      margin-bottom: .2rem;
      resize: none;
      outline: none;
      font-size: .24rem;
      border: 1px solid transparent;
      transition-duration: .2s;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:focus {
        border: 1px solid @themeColor2;
      }
    }

    textarea {
      display: block;
      width: 100%;
      font-size: .24rem;
      height: 1.75rem;
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: .2rem;
      border: none;
      padding: .1rem .2rem;
      resize: none;
      outline: none;
      transition-duration: .2s;
      border: 1px solid transparent;

      &:focus {
        border: 1px solid @themeColor2;
      }
    }

    input[type=submit] {
      display: block;
      float: none;
      margin: 0 auto;
      width: 4rem;
      height: .7rem;
      background-color: @themeColor2;
      border-radius: .4rem;
      border: solid 1px #fff;
      font-size: .3rem;
      color: #fff;
    }
  }

}

.contact {
  .main {
    padding-top: .5rem;
    padding-bottom: 0;
  }

  .desc {
    margin-top: .5rem;

    p {
      font-size: .24rem;
      line-height: .36rem;
      color: #666;
    }
  }

  .list {
    margin: .3rem 0;

    ul {

    }

    li {
      float: left;
      height: 1.6rem;
      background-color: @themeColor1;
      border-radius: .2rem;
      overflow: hidden;
      margin-bottom: .2rem;


      a {
        color: #fff;
        text-align: center;
      }

      .pic {
        width: .5rem;
        height: .5rem;
        margin: .3rem auto .1rem;
      }

      .con {
        p {
          font-size: .24rem;
          color: #fff;
          line-height: .3rem;
        }
      }

      &:first-child {
        width: 2.55rem;
        margin-right: .2rem;
      }

      &:nth-child(2) {
        width: 4.35rem;
      }

      &:nth-child(3) {
        width: 2rem;
        margin-right: .2rem;
      }

      &:nth-child(4) {
        width: 2.8rem;
        margin-right: .2rem;
      }

      &:last-child {
        width: 1.9rem;
      }
    }
  }

  .map-container {
    width: 100%;
    height: 4.6rem;
    background-color: #3a3a3a;
    box-shadow: .01rem .02rem .1rem 0 rgba(0, 0, 0, 0.16);
    border-radius: .1rem;
    border: solid 1px #eeeeee;
  }

  .lxwm-form {
    margin-top: .5rem;

    input {
      display: block;
      width: 100%;
      height: .7rem;
      background-color: #f6f6f6;
      border-radius: .1rem;
      margin-bottom: .2rem;
      border: solid 1px #e5e5e5;
      padding: 0 .2rem;
      outline: none;
      font-size: .24rem;
    }

    textarea {
      display: block;
      width: 100%;
      height: 1.75rem;
      background-color: #f6f6f6;
      border-radius: .1rem;
      border: solid 1px #e5e5e5;
      margin-bottom: .2rem;
      padding: .1rem .2rem;
      outline: none;
      resize: none;
      font-size: .24rem;
    }

    input[type=submit] {
      width: 4rem;
      background-color: @themeColor1;
      border-radius: .4rem;
      border: solid 1px #fff;
      font-size: .3rem;
      color: #fff;
      margin: 0 auto;
    }
  }
}

#map {
  width: 100%;
  height: 100%;
}

.sub-curmb {
  margin-top: .5rem;
  margin-bottom: .3rem;

  .wrap {
    font-size: 0;
    text-align: center;
    overflow: scroll;

    ul {
      display: inline-block;
      white-space: nowrap;
    }

    li {
      display: inline-block;
      margin: 0 .1rem;

      a {
        display: block;
        font-size: .3rem;
        color: #222;
        line-height: .68rem;
        padding: 0 .35rem;
        border: solid 1px #dcdcdc;

        &.active {
          background-color: @themeColor2;
          color: #fff;
          border-color: @themeColor2;
        }
      }
    }
  }
}

.news-list {

  .main {
    padding: 0;
  }

  li {
    padding: .5rem 0;
    border-bottom: solid 1px #e5e5e5;

    a {
      display: block;


      &:after {
        content: '';
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
        clear: both;
      }
    }

    .pic {
      width: 2.85rem;
      height: 1.9rem;
      float: left;
      border-radius: .1rem;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .con {
      width: 4rem;
      float: right;

      .tit {
        font-size: .3rem;
        color: #333;
        line-height: .54rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        -webkit-line-clamp: 2;
      }

      .time {
        font-size: .24rem;
        color: #999;
        margin-top: .3rem;
      }
    }
  }

  .btn {
    margin-top: .5rem;
  }

}

.show-more {
  font-size: 0;
  text-align: center;


  a {
    display: inline-block;
    width: 2.3rem;
    line-height: .6rem;
    background-color: @themeColor1;
    box-shadow: 0 .09rem .15rem 0 rgba(56, 179, 213, 0.66);
    border-radius: .4rem;
    font-size: .3rem;
    color: #fff;
    text-align: center;
  }
}

.news-artical {
  .main {
    padding-top: .5rem;
    padding-bottom: 0;
  }

  .news-title {
    font-size: .36rem;
    color: #222;
    text-align: center;
    margin-bottom: .2rem;
  }

  .news-publish {
    font-size: .2rem;
    color: #888;
    text-align: center;
    padding-bottom: .4rem;
    border-bottom: 1px solid #bfbfbf;

    span {
      margin: 0 .15rem;
    }
  }

  .news-info {
    font-size: .26rem;
    color: #666;
    line-height: .36rem;
    margin: .5rem 0;

    img {
      display: block;
      width: 100%;
      margin: .2rem auto;
    }
  }
}

.fanpian {
  display: block;
  background-color: #ffe9f0;

  a {
    display: block;
    font-size: .26rem;
    float: left;
    line-height: .6rem;

    &:first-child {
      width: 2rem;
      text-align: center;
      border-right: 1px solid #fff;
    }

    &:last-child {
      width: 5rem;
      padding: 0 .1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .wrap {
    & > div {
      border: 1px solid #fff;

      &:first-child {
        border-bottom: 0
      }
    }
  }

}


.strength {
  .main {
    padding-bottom: 0;
    padding-top: 0;
  }

  .list {
    margin-top: .5rem;
  }

  ul {
    display: table;
    width: 100%;
  }

  li {
    width: 3.45rem;
    display: table-cell;
    //float: left;
    background-color: @themeColor1;
    color: #fff;
    padding: .4rem .1rem;
    //border-radius: .2rem;
    //margin-right: .2rem;
    //margin-bottom: .2rem;
    box-sizing: content-box;

    border-right: .2rem solid #fff;
    border-bottom: .2rem solid #fff;

    &:nth-of-type(odd) {
      //clear: both;
    }

    &:nth-child(2n) {
      margin-right: 0;
      border-right: 0;
    }

    p {
      font-size: .28rem;
      line-height: .36rem;
    }
  }
}

.blush {
  .list {
    margin-top: .5rem;
  }

  li {
    &:after {
      content: '';
      display: block;
      height: 0;
      line-height: 0;
      visibility: hidden;
      clear: both;
    }

    .pic {
      width: 4.1rem;
      height: 2.54rem;
    }

    .con {
      width: 3rem;
      height: 2.54rem;
      background-color: @themeColor1;
      color: #fff;
      text-align: center;
      padding-top: .7rem;

      p {
        font-size: .36rem;

        &:after {
          content: '';
          display: block;
          width: .6rem;
          height: 1px;
          background-color: #fff;
          margin: .25rem auto;
        }
      }

      span {
        font-size: .24rem;
      }
    }

    &:nth-of-type(odd) {
      .pic {
        float: left;
      }

      .con {
        float: right;
      }
    }

    &:nth-of-type(even) {
      .pic {
        float: right;
      }

      .con {
        float: left;
      }
    }
  }
}

.profile {
  .wrap {
    margin-top: .5rem;
  }

  .context {
    p {
      text-indent: 2em;
    }
  }

  .pic {
    width: 100%;
    height: 3.8rem;
    border-radius: .1rem;
    overflow: hidden;
    margin-top: .4rem;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
}

.culture {
  background: url(../img/culture_bg.jpg) center center/cover no-repeat;

  .main {
    padding: 0;
  }

  .title {
    width: 2.5rem;
    height: 1.25rem;
    border-radius: 0 0 2rem 2rem;
    background-color: @themeColor1;
    text-align: center;
    color: #fff;
    padding-top: .2rem;
    margin: 0 auto;

    p {
      font-size: .36rem;
      margin-bottom: .15rem;
    }

    span {
      font-size: .16rem;
      display: block;

    }
  }

  .list {
    padding: .8rem 0;

    li {
      width: 3.25rem;
      height: 2rem;
      float: left;
      background-color: #fff;
      border-radius: .1rem;
      margin-right: .6rem;
      margin-bottom: .2rem;
      position: relative;
      margin-bottom: 1rem;

      .icon {
        width: .96rem;
        height: .96rem;
        position: absolute;
        left: 50%;
        top: -.48rem;
        transform: translateX(-50%);
      }

      p {
        font-size: .36rem;
        color: @themeColor2;
        text-align: center;
        margin-top: .65rem;
      }

      span {
        display: block;
        text-align: center;
        font-size: .24rem;
        color: #888;
        margin-top: .15rem;
        line-height: .36rem;
      }

      &:nth-of-type(even) {
        margin-right: 0;
      }

      &:nth-child(2) ~ li {
        margin-bottom: 0;
      }
    }
  }
}

.brandteam {
  .main {
    padding-bottom: 0;
  }

  .hide-list {
    margin-top: .5rem;
  }

  li {
    width: 100%;
    height: 3.75rem;
    background-color: @themeColor1;
    border-radius: .1rem;
    margin-bottom: .4rem;
    padding: .1rem;

    .pic {
      width: 3.55rem;
      height: 100%;
      float: left;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
        border-radius: .1rem;
      }
    }

    .con {
      width: 3.25rem;
      height: 100%;
      float: right;
      color: #fff;
      padding: .1rem 0;
      overflow: auto;

      .name {
        span {
          font-size: .36rem;
          margin-right: .1rem;

        }

        i {
          font-size: .24rem;
        }

        &::after {
          content: '';
          display: block;
          width: .6rem;
          height: .02rem;
          background-color: #fff;
          margin: .2rem 0 .1rem;
        }
      }

      .prize {
        font-size: .2rem;
        line-height: .3rem;
      }
    }
  }
}

.load-more {
  text-align: center;
  font-size: 0;

  a {
    display: block;

    i {
      display: block;
      width: .8rem;
      margin: 0 auto .2rem;
    }

    span {
      font-size: .2rem;
      color: #cbcbcb;
    }
  }

}

.lectures {

  .swiper-container {
    padding-bottom: .5rem;
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      width: .15rem;
      height: .15rem;
      background-color: #bfbfbf;
      opacity: 1;
      border-radius: .2rem;

      &.swiper-pagination-bullet-active {
        width: .4rem;
        background-color: @themeColor1;
      }
    }
  }

  .swiper-slide {
    position: relative;
    border-radius: .1rem;
    overflow: hidden;
  }

  .lectures-film {
    width: 100%;
    height: 4.1rem;

    video {
      width: 100%;
      height: 100%;
      display: block;
      object-position: center;
      object-fit: cover;
    }
  }

  .lectures-infomation {
    background-color: @themeColor1;
    padding: .3rem .2rem;
    position: relative;

    .pic {
      width: 1.2rem;
      width: 1.2rem;
      border-radius: 50%;
      overflow: hidden;
      float: left;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-position: center;
        object-fit: cover;
      }
    }

    .con {
      width: 5.2rem;
      float: right;
      color: #fff;

      .name, .kecheng {
        font-size: .3rem;
        margin-bottom: .1rem;
      }

      .desc {
        font-size: .2rem;
        line-height: .28rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        -webkit-line-clamp: 2;
      }
    }
  }
}

.major-2 {
  background-color: #f6f6f6;

  .wrap {
    margin-top: .5rem;
  }

  .swiper-slide {
    width: 5rem;

    .pic {
      margin-bottom: .4rem;
      width: 100%;
      height: 5.3rem;
      border-radius: .2rem;
      overflow: hidden;

      img {
        display: block;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .name {
      text-align: center;
      font-size: .48rem;
      color: #000;
      margin-bottom: .1rem;

      i {
        font-size: .3rem;
        margin-left: .1rem;
      }
    }

    .desc {
      font-size: .24rem;
      color: #666;
      line-height: .36rem;
    }
  }

  .btn {
    width: 100%;
    position: relative;
    margin-top: .6rem;
    padding-bottom: 1.88rem;
  }

  .swiper-pagination {
    width: 100%;
    top: 0;

    .swiper-pagination-bullet {
      width: .15rem;
      height: .15rem;
      margin: 0 .05rem;
      opacity: 1;
      background-color: #bfbfbf;
      border-radius: .1rem;
      transition-duration: .2s;

      &.swiper-pagination-bullet-active {
        background-color: @themeColor2;
        width: .4rem;
      }


    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    margin: 0;
    top: .9rem;
    width: 1.2rem;
    height: .98rem;
    background-color: #bfbfbf;
    background-size: 20%;
  }

  .swiper-button-prev {
    left: 2.36rem;
  }

  .swiper-button-next {
    right: 2.35rem;
    background-color: @themeColor1;
  }
}

.open-clsss {
  .list {
    margin-top: .5rem;
  }

  .recommend {
    width: 100%;
    height: 4.7rem;
    border-radius: .1rem;
    overflow: hidden;
    position: relative;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }

    .con {
      display: block;
      width: 100%;
      height: 1.3rem;
      background-color: rgba(0, 0, 0, .5);
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      color: #fff;
      padding: .3rem;

      p, span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      p {
        font-size: .3rem;
        margin-bottom: .15rem;
      }

      span {
        font-size: .24rem;
      }
    }
  }

  li {
    padding: .5rem 0;
    border-bottom: solid 1px #e5e5e5;

    a {
      display: block;


      &:after {
        content: '';
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
        clear: both;
      }
    }

    .pic {
      width: 2.85rem;
      height: 1.9rem;
      float: left;
      border-radius: .1rem;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .con {
      width: 4rem;
      float: right;

      .tit {
        font-size: .3rem;
        color: #333;
        line-height: .54rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        -webkit-line-clamp: 2;
      }

      .time {
        font-size: .24rem;
        color: #999;
        margin-top: .3rem;
      }
    }
  }

  .load-more {
    margin-top: .5rem;

    a {
      display: inline-block;
      padding: 0 .3rem;
      height: .6rem;
      background-color: @themeColor1;
      box-shadow: .03rem .08rem .15rem 0 rgba(56, 179, 213, 0.66);
      border-radius: .4rem;
      font-size: .3rem;
      color: #fff;
      line-height: .6rem;
    }
  }
}

.luck-draw {
  .main {
    padding-bottom: 0;
  }

  .wrap {
    height: 2.1rem;
    background-color: #ffebf0;
    border-radius: .2rem;
    border: dashed 1px @themeColor2;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 1.75rem;
      height: 1.62rem;
      background: url(../img/lihe.png) center center/cover no-repeat;
      position: absolute;
      bottom: 0;
      right: -.1rem;
    }
  }

  .title {
    width: 2.55rem;
    height: .74rem;
    background: url(../img/luck_draw_title.png) center center/cover no-repeat;
    position: absolute;
    left: 50%;
    top: -.44rem;
    transform: translateX(-50%);
    text-align: center;
    font-size: .3rem;
    color: #fff;
    font-weight: bold;
    line-height: .6rem;
  }

  .con {
    padding: .6rem .35rem 0;

    p {
      font-size: .28rem;
      color: @themeColor2;
      margin-bottom: .15rem;
      line-height: .36rem;

    }
  }
}


.students-case {
  background: url(../img/case_bg.jpg) center center/cover no-repeat;
  margin-top: .8rem;

  .wrap {
    margin-top: .5rem;
  }

  .case-top {
    margin-bottom: .6rem;

    .swiper-slide {
      //height: 3rem;
      background-color: #fff;
      padding: .4rem;
      box-shadow: 0 .04rem .12rem 0 rgba(0, 0, 0, 0.3);
      border-radius: .1rem;

      .con {
        float: left;
        width: 3.5rem;
        //width: 3.1rem;

        .name {
          font-size: .36rem;
          margin-bottom: .15rem;
        }

        .desc {
          font-size: .24rem;
          line-height: .36rem;
        }
      }

      .pic {
        float: right;
        width: 2.6rem;
        height: 2rem;
        //height: 100%;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
        }
      }
    }
  }

  .case-thumbs {
    .swiper-wrapper {
    }

    .swiper-slide {
      width: 1.2rem;
      height: 1.565rem;
      border-radius: 50%;
      overflow: hidden;
      position: relative;

      &.swiper-slide-thumb-active {
        &:before {
          display: none;
        }
      }

      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        position: absolute;
        top: 0;
        left: 0;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .btn {
    position: relative;
    height: .08rem;
    padding-top: .9rem;
  }

  .swiper-scrollbar {
    width: 4.5rem;
    height: .08rem;
    left: 50%;
    transform: translateX(-50%);

    .swiper-scrollbar-drag {
      background-color: @themeColor1;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: .48rem;
    height: .48rem;
    background-color: #fff;
    border-radius: 50%;
    background-size: 30%;
    bottom: -.28rem;
    opacity: 1;
    top: auto;
    margin: 0;
  }

  .swiper-button-prev {
    left: .55rem;
  }

  .swiper-button-next {
    right: .55rem;
  }
}

.students-tory {
  .main {
    padding-bottom: 0;
  }

  .list {
    margin-top: .5rem;
  }

  .recommend {
    width: 100%;
    height: 4.7rem;
    border-radius: .1rem;
    overflow: hidden;
    position: relative;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }

    .con {
      display: block;
      width: 100%;
      height: 1.3rem;
      background-color: rgba(0, 0, 0, .5);
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      color: #fff;
      padding: .3rem;

      p, span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      p {
        font-size: .3rem;
        margin-bottom: .15rem;
      }

      span {
        font-size: .24rem;
      }
    }
  }

  li {
    padding: .5rem 0;
    border-bottom: solid 1px #e5e5e5;

    a {
      display: block;


      &:after {
        content: '';
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
        clear: both;
      }
    }

    .pic {
      width: 2.85rem;
      height: 1.9rem;
      float: left;
      border-radius: .1rem;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .con {
      width: 4rem;
      float: right;

      .tit {
        font-size: .3rem;
        color: #333;
        line-height: .54rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        -webkit-line-clamp: 2;
      }

      .time {
        font-size: .24rem;
        color: #999;
        margin-top: .3rem;
      }
    }
  }

  .load-more {
    margin-top: .5rem;

    a {
      display: inline-block;
      padding: 0 .3rem;
      height: .6rem;
      background-color: @themeColor1;
      box-shadow: .03rem .08rem .15rem 0 rgba(56, 179, 213, 0.66);
      border-radius: .4rem;
      font-size: .3rem;
      color: #fff;
      line-height: .6rem;
    }
  }
}

.enroll-2 {

  .main {
    padding-bottom: 0;
  }

  .plate-title {
    .zh {
      span {
        color: @themeColor2;

        &:before, &:after {
          background-color: @themeColor2;
        }
      }
    }
  }

  .top-pic {
    width: 100%;
    height: 3.38rem;
    background-color: #000000;
    box-shadow: .04rem .05rem .06rem 0 rgba(0, 0, 0, 0.08);
    border-radius: .1rem;
    //border: solid 1px #eee;
    margin-top: .5rem;
    overflow: hidden;

    img {
      display: block;
      border-radius: .1rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .szll-form {
    margin-top: .5rem;

    form {
      &:after {
        content: '';
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
        clear: both;
      }
    }

    input {
      display: block;
      float: left;
      width: 3.45rem;
      height: .7rem;
      background-color: #eee;
      border-radius: .1rem;
      padding: 0 .2rem;
      margin-right: .2rem;
      margin-bottom: .2rem;
      resize: none;
      outline: none;
      font-size: .24rem;
      border: 1px solid transparent;
      transition-duration: .2s;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:focus {
        border: 1px solid @themeColor2;
      }
    }

    textarea {
      display: block;
      width: 100%;
      font-size: .24rem;
      height: 1.75rem;
      background-color: #eee;
      border-radius: 10px;
      margin-bottom: .2rem;
      border: none;
      padding: .1rem .2rem;
      resize: none;
      outline: none;
      transition-duration: .2s;
      border: 1px solid transparent;

      &:focus {
        border: 1px solid @themeColor2;
      }
    }

    input[type=submit] {
      display: block;
      float: none;
      margin: 0;
      //margin: 0 auto;
      width: 3.2rem;
      height: .7rem;
      background-color: @themeColor2;
      border-radius: .4rem;
      border: solid 1px #fff;
      font-size: .3rem;
      color: #fff;
      float: left;
    }

    .zixun {
      display: block;
      float: right;
      width: 3.2rem;
      height: .7rem;
      background-color: @themeColor1;
      border-radius: .4rem;
      text-align: center;
      line-height: .7rem;
      color: #fff;
      font-size: .3rem;
    }
  }
}

.project {
  .main {
    padding-top: .5rem;
  }

  .title {
    text-align: center;
    font-size: .38rem;
    color: #222;

    span {
      &::after {
        content: '';
        display: block;
        width: .6rem;
        height: .02rem;
        background-color: #d2d2d2;
        margin: .35rem auto;
      }
    }
  }

  .txt {
    p {
      font-size: .26rem;
      line-height: .44rem;
      color: #666;
      text-indent: 2em;
    }
  }

  .pic {
    border-radius: .1rem;
    overflow: hidden;
    margin: .5rem 0;

    img {
      display: block;
    }
  }

  .list {
    margin-bottom: .5rem;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      width: 2.01rem;
      height: 2.06rem;
      background: url(../img/flower_02.png) center center/cover no-repeat;
      color: #fff;
      text-align: center;
      padding-top: .7rem;
      margin-right: .53rem;
      margin-bottom: .4rem;

      &:nth-child(3) {
        margin-right: 0;
      }

      &:nth-child(3) ~ li {
        margin-bottom: 0;
      }

      p {
        font-size: .36rem;
        margin-bottom: .2rem;
      }

      span {
        font-size: .24rem;
      }
    }
  }
}

.project-switch {
  .main {
    padding: 0;
  }

  .tabs {
    li {
      height: 1.66rem;
      float: left;
      text-align: center;
      box-shadow: 0 .02rem .1rem 0 @themeColor1;
      background-color: @themeColor1;
      color: #fff;
      padding: .4rem .2rem;
      border-radius: .1rem;
      //overflow: hidden;
      position: relative;


      &:nth-child(1), &:nth-child(2) {
        width: 2.34rem;
        margin-right: .23rem;
      }

      &:last-child {
        width: 1.94rem;
      }

      &.active {
        background-color: @themeColor2;
        box-shadow: 0 .02rem .1rem 0 @themeColor2;

        &::after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          overflow: hidden;
          border-style: solid;
          border-color: @themeColor2 transparent transparent transparent;
          border-width: .2rem;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -.4rem;
        }
      }

      a {
        display: block;
        font-size: .36rem;
        color: #fff;
        line-height: .48rem;
      }
    }
  }

  .wrap {
    margin-top: .65rem;

    li {
      padding: .3rem .2rem;
      background-color: @themeColor2;
      color: #fff;

      p {
        font-size: .3rem;

        &:after {
          content: '';
          display: block;
          width: .6rem;
          height: .02rem;
          background-color: #fff;
          margin: .2rem 0;
        }
      }

      span {
        font-size: .24rem;
        line-height: .36rem;
        word-break: break-all;
      }
    }

    .item {
      display: none;
    }
  }
}

.advantage {

  .advantage-switch {
    background-color: @themeColor1;
    padding: .08rem;
    margin-top: .5rem;
  }

  .tabs {
    li {
      width: calc(~"25% - 1px");
      height: 1.5rem;
      background: url(../img/advantage_tabs_bg.jpg) center center/cover no-repeat;
      float: left;
      margin-right: 1px;
      margin-bottom: 1px;
      text-align: center;
      position: relative;

      &:nth-child(4n) {
        width: 25%;
        margin-right: 0;
      }

      &:nth-child(8) ~ li {
        margin-bottom: 0;
      }

      span {
        display: block;
        width: 100%;
        font-size: .24rem;
        color: #666;
        line-height: .3rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &.active {
        span {
          color: @themeColor1;
        }
      }
    }
  }

  .wrap {
    margin-top: .08rem;
    background-color: #fff;

    .item {
      display: none;
    }

    .pic {
      img {
        display: block;
      }
    }

    .con {
      padding: .3rem .2rem;
      font-size: .3rem;
      color: #666;
      line-height: .4rem;
    }
  }
}

.support {
  .main {
    padding-bottom: 0;
  }

  .wrap {
    margin-top: .5rem;

    img {
      display: block;
    }
  }
}

.process {
  .wrap {
    margin-top: .5rem;
  }
}

.join-course {

  .main {
    padding-bottom: 0;
  }

  .join-course-switch {
    margin-top: .5rem;
  }

  .tabs {
    li {
      width: 2.2rem;
      height: .52rem;
      border-radius: .3rem;
      border: solid 1px #38b3d5;
      text-align: center;
      line-height: .5rem;
      float: left;
      margin-right: .24rem;
      margin-bottom: .24rem;

      span {
        font-size: .24rem;
        color: #666;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      &.active {
        background-color: @themeColor1;

        span {
          color: #fff;
        }
      }
    }
  }

  .wrap {
    margin-top: .1rem;

    .item {
      display: none;
    }

    table {
      width: 100%;

      tr {
        td {
          border: 1px solid #ccc;
          height: .7rem;
          width: 75%;
          padding: 0 .2rem;

          &:first-child {
            text-align: center;
            width: 25%;
            background-color: @themeColor1;
            color: #fff;
          }
        }
      }
    }
  }
}

.course-list {
  .main {
    padding-top: .5rem;
    padding-bottom: 0;
  }

  li {
    width: 3.45rem;
    background-color: @themeColor1;
    float: left;
    margin-right: .2rem;
    margin-bottom: .45rem;

    &:nth-child(2n) {
      margin-right: 0;
    }

    .pic {
      width: 100%;
      height: 2rem;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
      }
    }

    .con {
      width: 100%;
      padding: .2rem .2rem .5rem .2rem;
      position: relative;

      p {
        font-size: .3rem;
        color: #fff;
        margin-bottom: .15rem;
      }

      span {
        display: block;
        font-size: .24rem;
        line-height: .3rem;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        -webkit-line-clamp: 2;
      }

      .btn {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: -.25rem;
        left: 0;

        a {
          display: inline-block;
          line-height: .5rem;
          background-color: @themeColor2;
          padding: 0 .3rem;
          text-align: center;
          border: 1px solid #fff;
          border-radius: 1rem;
          color: #fff;
        }
      }
    }
  }
}


//
//
//
//
//
//
//
//
//
//
//
//
.huanjing {
  background: url(../img/huanjing_bg.jpg) center center/cover no-repeat;

  li {
    width: 3.45rem;
    height: 3.16rem;
    float: left;
    margin-right: .2rem;
    margin-bottom: .2rem;
    border-radius: .2rem;
    overflow: hidden;

    &:nth-child(2n) {
      margin-right: 0;
    }

    img {
      display: block;
    }
  }
}

.xianchang {
  background: url(../img/xianchang_bg.jpg) center center/cover no-repeat;

  .list{
    overflow: hidden;
  }
  li {
    width: 3.7rem;
    height: 3.4rem;
    margin-right: .2rem;
    border-radius: .2rem;
    overflow: hidden;

    img {
      display: block;
    }
  }
}

.anpai {
  .main {
    padding-top: 0;
  }

  .list {
    overflow: hidden;
    li {
      width: 3.8rem;
      height: 2.45rem;
      float: left;
      margin-right: .2rem;
     background: url(../img/anpai_bg_01.jpg) center center/cover no-repeat;
      border-radius: .2rem;
      overflow: hidden;
      position: relative;
      color: #fff;
      text-align: center;


      p {
        font-size: .3rem;
        line-height: .48rem;
        color: #333;
        width: 100%;
        padding: 0 .2rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}